#! /bin/bash

DOMAIN="dev-store.okindustrial.com"


#Find last octect of IP Address
IP_OCTECT=$(curl -s http://169.254.169.254/latest/meta-data/local-hostname \
      | awk -F"-" '{print $4$5}' \
      | cut -d '.' -f 1 )

CURRENT_HOSTNAME={{ env_host_name }}

CURRENT_HOSTNAME_SHORT=$(echo "$CURRENT_HOSTNAME" \
      | cut -d '.' -f 1 )

# New hostname will be CURRENT_HOSTNAME + Last Octect of the IP Address
NEW_HOSTNAME=$CURRENT_HOSTNAME_SHORT-$IP_OCTECT

/bin/echo "PRETTY_HOSTNAME=$NEW_HOSTNAME" > /etc/machine-info
/bin/echo "$NEW_HOSTNAME" > /etc/hostname
/bin/echo "127.0.0.1 $NEW_HOSTNAME" >> /etc/hosts

/bin/hostname $NEW_HOSTNAME
